
/* tipo de seletor {
    propriedade: valor;
} */

/* Seletor universal * {} */


* {
    
}

.redbox > p {
    width: 100px;
    height: 100px;
    background-color: red;
}

.redbox, .bluebox{
    border: 2px solid black;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bluebox > p {
    width: 100px;
    height: 100px;
    background-color: blue;
}